<div class="panel panel-default devise-bs">
	<div class="panel-body">
	    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
        <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
        <p>Email: <%= @user.email %></p>
        <p>Phone: <%= @user.phone_number %></p>
        <p>About: <%= @user.description %></p>
	</div>
</div>