<div class="panel panel-default devise-bs">
  <div class="panel-body">
    <table>
      <tr>
        <th>Location</th>
        <th>Time</th>
        <th>Attendants</th>
        <th>Comments</th>
      </tr>
      <% @meetups.each do |meetup| %> 
        <% if meetup.time > Time.now %>
          <tr>
            <td><%= meetup.location %></td>
            <!--<td><%= meetup.time %></td>-->
            <td><%= meetup.time.strftime('%A, %b. %d, %l:%M %p')%></td>
            <td><% meetup.users.each do |u|%>
                  <%= link_to u.first_name, u %>
                  <br/>
                <% end %>
            </td>
            <td><%= meetup.comment %></td>
            <td> <% if ! meetup.users.include? current_user %>
                  <%= form_tag('meet_ups/join', method: "post") do %>
                    <%= submit_tag("Join") %>
                    <%= hidden_field_tag(:join_meetup, meetup.id) %>
                  <% end %>
                <% end %>
            </td>
            <% if meetup.users.include? current_user %>
              <td> <%= form_tag('meet_ups/remove', method: "post") do %>
                  <%= submit_tag("Remove Me") %>
                  <%= hidden_field_tag(:remove_meetup, meetup.id) %>
                <% end %>
              </td>
            <% end %> 
          </tr>
        <% end %>
      <% end %>
    </table>

    <br/>
    <!-- TODO: Make this form prettier -->
    <%= form_tag(meet_ups_path, method: "post", class: "meetup_form") do %>
      <%= label_tag(:new_meetup, "Create new meetup:") %>
      <!--<%= text_field_tag(:time, nil, placeholder: "Time (00:00 am/pm)", :required => true ) %>-->
      <%= select_tag :location, options_for_select(@all_locations.collect{ |l| l }) %> 
      <%= datetime_select("meet_up_time", "temp") %>
      <%= text_field_tag(:comment, nil, placeholder: "Add a comment about the meet up", :required => false, :class => "comment_field") %>
      <%= submit_tag("Create") %>
    <% end %>
    </div>
</div>