<!DOCTYPE html>
<html>
	<head>
	  <title>Caldine</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<div class="panel-heading">
      <h4 style="text-align:left;"> <%= link_to('Caldine', meet_ups_path) %>
      <% if user_signed_in? %>
        <span style="float:right;margin-right:20px;">
          <p>
            <span class="nav_link"><%= link_to('My Profile', users_path) %></span>
            <%= link_to('Locations', locations_path) %>
          </p>
            <p class="nav_line"><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></p>
        </span>
        <p> 
        </p>      
      <% end %>
      </h4>
  </div>
	
	<body>
		<%= yield %>
	</body>
</html>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

