<!DOCTYPE html>
<html>
	<head>
	  <title>Caldine</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<div class="panel-heading">
      <h4 style="text-align:left;"> Welcome to Caldine!
      <% if user_signed_in? %>
        <span style="float:right;">
          <p> 
            <%= link_to('Users', users_path) %>
          </p> 
          <p> 
            <%= link_to('Locations', locations_path) %>
          </p>
        </span>
        <p> <%= link_to('Log Out', destroy_user_session_path, :method => :delete) %> </p>      
      <% end %>
      </h4>
  </div>
	
	<body>
		<%= yield %>
	</body>
</html>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

